.tile-2 {
  background-image: url(2.png);
  background-size: cover;
  image-rendering: pixelated;
}

.tile-4 {
  background-image: url(4.png);
  background-size: cover;
  image-rendering: pixelated;
}

.tile-8 {
  background-image: url(8.png);
  background-size: cover;
  image-rendering: pixelated;
}

.tile-16 {
  background-image: url(16.png);
  background-size: cover;
  image-rendering: pixelated;
}

.tile-32 {
  background-image: url(32.png);
  background-size: cover;
  image-rendering: pixelated;
}

.tile-64 {
  background-image: url(64.png);
  background-size: cover;
  image-rendering: pixelated;
}

.tile-128 {
  background-image: url(128.png);
  background-size: cover;
  image-rendering: pixelated;
}

.tile-256 {
  background-image: url(256.png);
  background-size: cover;
  image-rendering: pixelated;
}

.tile-512 {
  background-image: url(512.png);
  background-size: cover;
  image-rendering: pixelated;
}

.tile-1024 {
  background-image: url(1024.png);
  background-size: cover;
  image-rendering: pixelated;
}

.tile-2048 {
  background-image: url(2048.png);
  background-size: cover;
  image-rendering: pixelated;
}
